*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

:root {
  --main-bg-color: #A188A6;
  --egg-color: whitesmoke;
  --eight-bit-font: 'Press Start 2P', cursive
}

html {
  box-sizing: border-box;
  background: var(--main-bg-color);
  font-family: var(--eight-bit-font);
}

html, body {
  overflow: hidden;
  color: #020202;
}

nav {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  height: 10vh;
  font-size: 24px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

aside {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.metric {
  margin: 15px 0;
}

button {
  font-family: var(--eight-bit-font);
  width: 200px;
  height: 35px;
  margin: 10px 0;
}

section {
  display: flex;
  width: 80%;
}

#egg-container {
  display: flex;
  justify-content: center;
  width: 75%;
}

#egg-shape{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 650px;
  border-radius: 80% 80% 80% 80% / 90% 90% 65% 65%;
  margin-top: 30px;
  background: var(--egg-color);
}

#playpen {
  width: 325px;
  height: 325px;
  margin-top: 40px;
  background: rgb(125, 153, 152);
  border-width: 5px;
  border-style: inset;
}

header {
  text-align: center;
  margin: 20px auto -20px auto;
  height: 15%;
}

#tamagotchi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  font-size: 66px;
}

footer {
  display: flex;
  height: 15%;
  font-size: 33px;
}

#eat-btn,
#sleep-btn,
#play-btn {
  background: transparent;
  border: none;
  outline-style: none;
}

#eat-btn:hover,
#sleep-btn:hover,
#play-btn:hover {
  background: forestgreen;
  opacity: 0.60;
}